.base-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  height: 200px;
  border: 1px solid var(--mwp-border-color-primary);
  border-radius: 16px;
}

.base-card p {
  color: var(--mwp-color-font-primary);
  font-size: 1em;
}

.base-card h2 {
  font-size: 1.5em;
}

.card-active {
  background-color: var(--mwp-color-bg-secondary);
  border: none;
}

@media (min-width: 600px) {
  .base-card {
    margin: 0 5px;
  }
}

@media (min-width: 992px) {
  .base-card h2 {
    font-size: 2em;
  }
}