.top-section__base-note {
  height: 32px;
  max-width: 120px;
  border-radius: 8px;
  background-color: var(--mwp-color-bg-secondary);
}

.top-section__base-note h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 100%;
  font-size: 14px;
  color: var(--mwp-color-font-secondary);
}
