.base-note {
  height: 32px;
  max-width: 120px;
  border-radius: 8px;
  background-color: var(--mwp-color-bg-secondary);
}

.base-note h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 100%;
  font-size: 0.9em;
  color: var(--mwp-color-font-secondary);
}

@media (min-width: 992px) {
  .base-note {
    height: 45px;
    max-width: 160px;
  }

  .base-note h3 {
    font-size: 1.1em;
    letter-spacing: 0.5px;
  }
}
