@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");

@import url("./social-media-images.css");
@import url("./sticker-note.css");
@import url("./contact.css");

:root {
  --mwp-color-bg-primary: #090e16;
  --mwp-color-bg-secondary: rgba(123, 74, 226, 0.1);

  --mwp-color-font-primary: #ffffff;
  --mwp-color-font-secondary: #7b4ae2;
  --mwp-color-font-tertiary: rgba(255, 255, 255, 0.5);
  --mwp-color-font-quaternary: rgba(123, 74, 226, 0.5);

  --mwp-border-color: rgba(123, 74, 226, 0.5);
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--mwp-color-bg-primary);
  margin: 0;
  font-size: 52px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--mwp-color-font-primary);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.home-navbar {
  display: none;
}

.top-section,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section__texts--social {
  display: none;
}

.top-section__avatar {
  width: 100%;
  max-width: 600px;
}

.top-section__texts {
  width: 100%;
  max-width: 300px;
}

.top-section__texts h1 {
  margin-top: 20px;
  font-size: 0.94em;
}

.top-section__texts p {
  color: var(--mwp-color-font-tertiary);
  font-size: 0.35em;
  margin-top: 10px;
}

.teste {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  body {
    font-size: 40px;
  }

  .header-mobile {
    display: none;
  }

  .home-navbar {
    max-width: 1600px;
    background-color: var(--mwp-color-bg-secondary);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 80px);
    height: 65px;
    margin: 20px 20px;
    padding: 0 20px;
  }

  .home-navbar__links {
    color: var(--mwp-color-font-tertiary);
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
    column-gap: 1em;
    font-size: 0.32em;
    list-style-type: none;
  }

  .top-section {
    padding: 0 20px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100% - 40px);
  }

  .top-section__texts--social {
    display: block;
    margin-top: 20px;
  }

  .top-section__avatar {
    grid-row: 1;
    grid-column: 2;
  }

  .top-section__texts {
    grid-row: 1;
    grid-column: 1;
  }

  .top-section__contact {
    margin: 0;
    grid-row: 1;
    grid-column: 3;
  }
}

@media (min-width: 850px) {
  body {
    font-size: 45px;
  }

  .home-navbar__links {
    column-gap: 1.5em;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 52px;
  }
}
