@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");

@import url("./social-media-images.css");
@import url("./sticker-note.css");
@import url("./contact.css");
@import url("./base-card.css");

:root {
  --mwp-color-bg-primary: #090e16;
  --mwp-color-bg-secondary: rgba(123, 74, 226, 0.1);

  --mwp-color-font-primary: #ffffff;
  --mwp-color-font-secondary: #7b4ae2;
  --mwp-color-font-tertiary: rgba(255, 255, 255, 0.5);
  --mwp-color-font-quaternary: rgba(123, 74, 226, 0.5);

  --mwp-border-color-primary: rgba(123, 74, 226, 0.5);
  --mwp-border-color-secondary: rgba(123, 74, 226, 0.1);
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--mwp-color-bg-primary);
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--mwp-color-font-primary);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

.home-navbar,
.top-section__texts--social,
.experience-section__description,
.presentation-emote,
.about-section__description--last-name {
  display: none;
}

#home,
.top-section,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-mobile {
  margin-top: 20px;
}

.top-section {
  width: 100%;
  max-width: 1600px;
}

.top-section__avatar {
  width: 100%;
  max-width: 450px;
}

.top-section__texts {
  padding: 0 20px;
  width: calc(100% - 40px);
}

.top-section__texts h1 {
  margin-top: 20px;
  font-size: 3em;
}

.top-section__texts p {
  color: var(--mwp-color-font-tertiary);
  font-size: 1.1em;
  min-width: 215px;
  margin-top: 10px;
}

.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.experience-section__cards {
  margin-top: 70px;
  width: calc(100% - 10px);
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 15px;
  width: 100%;
}

.about-section__description p {
  color: var(--mwp-color-font-tertiary);
  font-size: 0.9em;
  margin-top: 30px;
  line-height: 1.8em;
}

.about-section__description--first-name,
.about-section__description--last-name {
  font-size: 1.5em;
  width: 250px;
}

.about-section__picture {
  width: 70%;
  max-width: 350px;
}

.about-section__description--note {
  margin: 40px 0;
}

.footer-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - 40px);
  padding: 0px 20px;
  height: 90px;
  background-color: var(--mwp-color-bg-secondary);
}

.footer-section p {
  font-size: 0.8em;
  color: var(--mwp-color-font-tertiary);
}

@media (min-width: 600px) {
  .header-mobile {
    display: none;
  }

  .presentation-emote,
  .about-section__description--last-name {
    display: inline;
  }

  .home-navbar {
    max-width: 1600px;
    background-color: var(--mwp-color-bg-secondary);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 80px);
    height: 65px;
    margin: 20px 20px;
    padding: 0 20px;
  }

  .home-navbar__links {
    display: grid;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    padding-left: 50px;
    width: 100%;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
    font-size: 0.8em;
    list-style-type: none;
  }

  .home-navbar__links a {
    color: var(--mwp-color-font-tertiary);
  }

  .home-navbar__links a:hover {
    color: var(--mwp-color-font-quaternary);
  }

  .home-navbar__links a:active {
    font-weight: 700;
    color: var(--mwp-color-font-quaternary);
  }

  .top-section {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100% - 40px);
    padding-bottom: 80px;
    border-bottom: 1px solid var(--mwp-border-color-secondary);
  }

  .top-section__texts--social {
    display: block;
    margin-top: 20px;
  }

  .top-section__avatar {
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
  }

  .top-section__texts {
    padding: 0;
    justify-self: start;
    grid-row: 1;
    grid-column: 1;
  }

  .top-section__texts h1 {
    font-size: 2em;
  }

  .top-section__texts p {
    font-size: 0.8em;
  }

  .top-section__contact {
    justify-self: end;
    margin: 0;
    grid-row: 1;
    grid-column: 3;
  }

  .experience-section {
    border-bottom: 1px solid var(--mwp-border-color-secondary);
  }

  .experience-section__cards {
    flex-direction: row;
    height: auto;
    max-width: 900px;
  }

  .experience-section__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mwp-color-bg-secondary);
    border-radius: 16px;
    margin-top: 35px;
    margin-bottom: 70px;
    width: 100%;
    max-width: 890px;
    height: 110px;
  }

  .experience-section__description--content {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }

  .experience-section__description p {
    color: var(--mwp-color-font-secondary);
    font-size: 1em;
  }

  .experience-section__description h2 {
    color: var(--mwp-color-font-secondary);
    font-size: 1.5em;
  }

  .about-section {
    max-width: 1600px;
    flex-direction: row;
    justify-content: space-around;
  }

  .about-section__picture {
    width: 30%;
  }

  .about-section__description {
    margin-left: 10px;
  }

  .about-section__description--first-name {
    width: auto;
    line-height: 1em;
  }

  .footer-section {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-section p {
    min-width: 206px;
  }
}

@media (min-width: 992px) {
  .home-navbar__links {
    font-size: 1.1em;
  }

  .top-section__texts h1 {
    font-size: 3.3em;
  }

  .top-section__texts p {
    font-size: 1.1em;
  }

  .experience-section__description h2 {
    font-size: 2em;
  }

  .about-section__description--first-name,
  .about-section__description--last-name {
    font-size: 3em;
  }

  .about-section__description p {
    font-size: 1.1em;
  }

  .footer-section p {
    font-size: 1em;
  }
}
