@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");

@import url("./social-media-images.css");
@import url("./sticker-note.css");
@import url("./contact.css");

:root {
  --mwp-color-bg-primary: #090e16;
  --mwp-color-bg-secondary: rgba(123, 74, 226, 0.1);

  --mwp-color-font-primary: #ffffff;
  --mwp-color-font-secondary: #7b4ae2;
  --mwp-color-font-tertiary: rgba(255, 255, 255, 0.5);
  --mwp-color-font-quaternary: rgba(123, 74, 226, 0.5);

  --mwp-border-color: rgba(123, 74, 226, 0.5);
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--mwp-color-bg-primary);
  margin: 0;
  font-size: 52px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--mwp-color-font-primary);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.top-section,
.header-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section__avatar {
  width: 430px;
}

.top-section__texts {
  width: 300px;
}

.top-section__texts h1 {
  margin-top: 20px;
  font-size: 0.94em;
}

.top-section__texts p {
  color: var(--mwp-color-font-tertiary);
  font-size: 0.35em;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .header-mobile {
    display: none;
  }
}
